body {
  background: #edeef0;
}

.widget {
  &-right,
  &-left {
    margin-top: 20px;
  }
  &-right {
    text-align: center;

    &__wrapper {
      display: inline-block;
      background: white;
      border-radius: 2px;
      padding: 10px 15px;
      background: #fafbfc;
      box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
      width: 550px;
      @media (min-width: 992px) {
        width: auto;
      }
    }
  }
}