body {
  background: #edeef0;
}

.widget {
  &-right,
  &-left {
    margin-top: 20px;
  }
  &-right {
    text-align: center;

    &__wrapper {
      text-align: center;
      display: inline-block;
      background: white;
      border-radius: 2px;
      padding: 10px 15px;
      background: #fafbfc;
      box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
      width: 550px;
      margin: 0;

      @media (min-width: 992px) {
        width: auto;
        margin-left: -40px;
      }
    }
    &__config {
      display: inline-block;
      min-width: 310px;

      &-title {
        color: #696969;
        font-size: 16px;

        &.border-top {
          padding-top: 10px;
          margin-top: 5px;
        }
      }
    }
  }
}

.hide-element {
  display: none;
}
