.navbar {
  &-vkontakte {
    background: #4a76a8 !important;

    .navbar-brand {
      color: white !important;
    }
    .nav-link {
      color: white !important;
      opacity: 0.7;
      &.active {
        opacity: 1;
      }
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
