.vk {
  &_download-btn {
    padding: 7px 16px 8px;
    display: inline-block;
    cursor: pointer;
    background-color: #5181b8;
    color: #fff;
    border: 0;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    border-radius: 3px;
    margin-top: 15px;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: #5b88bd;
      text-decoration: none;
    }
    &:active {
      background-color: #4872a3;
      padding-top: 8px;
      padding-bottom: 7px;
    }
  }
  &-container {
    text-align: center;

    &__preview {
      font-size: 20px;
      color: #555;
    }
  }
  &-chat {
    text-align: center;
    display: inline-block;
    margin-left: -10px;
    padding: 10px 15px;
    border-radius: 5px;
  }

  &_form {
    &__setting-button {
      padding: 4px 16px 5px;
      font-size: 12.5px;
      cursor: pointer;
      outline: none;
      font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
      line-height: 15px;
      text-align: center;
      background-color: #5181b8;
      color: #fff;
      border: 0;
      border-radius: 4px;
      vertical-align: top;
      margin: 5px 0;
      &:focus {
        outline: none;
      }
      &:hover {
        background-color: #5b88bd;
        text-decoration: none;
      }
      &:active {
        background-color: #4872a3;
        padding-top: 5px;
        padding-bottom: 4px;
      }
      &-full {
        width: 100%;
      }
    }
    &__img-select {
      &-button {
        margin-top: 1px;
        height: 25px;
        background-color: #e5ebf1;
        color: #55677d;
        border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
        border-style: solid;
        border-width: 1px;
        padding: 1px 7px 2px;
        outline: none;
        opacity: 0.8;
        &:focus {
          outline: none;
        }
        &:hover {
          opacity: 1;
          cursor: pointer;
        }
        &.upload-button {
          width: 100%;
          text-align: center;
        }
      }
      &-label {
        width: 100%;
        margin-top: 8px;
      }
      &-input {
        border: 1px solid #d3d9de;
        border-radius: 3px;
        padding: 2px 5px;
        outline: none;
        width: 130px;
      }
      &-right {
        float: right;
        padding: 2px 5px;
        width: 70%;
        text-align: right;
      }
      &-left {
        display: inline-block;
        margin-top: 16px;
      }
    }
    &__inline {
      display: inline-block;
    }
    &__label {
      color: #828282;
      font-size: 13px;
      margin: 5px 0;
    }
    &__input {
      border: 1px solid #d3d9de;
      border-radius: 3px;
      padding: 2px 5px;
      outline: none;
      width: 150px;
    }
    &__table {
      .vk_form__label {
        width: 100%;
        text-align: left;
        &-text {
          display: inline-block;
          padding-top: 3px;
        }
      }
      .vk_form__input {
        float: right;
      }
    }
    &__checkbox {
      cursor: pointer;

      &-wrapper {
        width: 150px;
        display: inline-block;
        float: right;
        padding-top: 3px;
        height: 25px;
        text-align: center;
      }
      &:hover {
        opacity: 0.7;
      }
    }

    input:invalid {
      border-color: rgb(219, 112, 147)
    }
  }
}
