.vk-widget {
  text-align: initial;
  display: inline-block;
  cursor: default;
  user-select: none;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;

  &__user-img {
    border-radius: 50%;
    &-small {
      width: 30px;
      height: 30px;
    }
    &-medium {
      width: 36px;
      height: 36px;
    }
  }
  &_header {
    width: 550px;
    border: solid 1px #edeef0;
    border-left: solid 1px #edeef0;
    border-radius: 2px 2px 0 0;
    height: 48px;
    background: #fff;
    white-space: nowrap;
    font-size: 13px;
    line-height: 18px;

    &__left {
      float: left;
      width: 148px;
      color: #818d99;
    }
    &__center {
      float: left;
      width: 254px;
    }
    &__right {
      float: left;
      width: 146px;
    }
    &__back {
      display: inline-block;
      font-size: 14px;
      padding-left: 14px;
      padding-top: 14px;

      &-image {
        display: inline-block;
        padding-left: 14px;
        padding-bottom: 2px;
      }
    }
    &__user-name {
      line-height: 15px;
      text-align: center;
      padding-top: 8px;
      color: #222;
      font-weight: bold;
    }
    &__online-status {
      line-height: 15px;
      color: #939393;
      text-align: center;

      &-image {
        display: inline-block;
        padding-left: 5px;
      }
    }
    &__mini-img-container {
      float: right;
      margin-right: 15px;
      margin-top: 7px;
    }
    &__dots {
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 12px;
      float: right;
      opacity: 0.7;
    }
    &__search {
      margin-top: 10px;
      float: right;
      opacity: 0.7;
    }
  }

  &_footer {
    width: 550px;
    border: solid 1px #edeef0;
    border-left: solid 1px #edeef0;
    border-radius: 0 0 2px 2px;
    height: 62px;
    background: #fafbfc;
    white-space: nowrap;
    font-size: 13px;
    line-height: 18px;

    &__left {
      float: left;
      width: 55px;
      color: #818d99;
    }
    &__center {
      float: left;
      width: 438px;
    }
    &__right {
      float: left;
      width: 55px;
    }
    &__microphone,
    &__clip {
      margin-left: 15px;
      margin-top: 20px;
      opacity: 0.7;
    }
    &__message {
      padding-top: 12px;

      &-text {
        margin-bottom: 12px;
        background: #fff;
        border-radius: 6px;
        border: solid 1px #d3d9de;
      }
      &-placeholder {
        width: 50%;
        border-radius: 6px;
        padding: 10px 0 8px 13px;
        color: #828282;
        display: inline-block;
      }
    }
    &__smile {
      display: inline-block;
      padding: 6px 14px 6px 3px;
      float: right;
      opacity: 0.7;
    }
    &__photo {
      float: right;
      display: inline-block;
      padding: 6px 7px 6px 5px;
      opacity: 0.7;
    }
  }

  &_body {
    width: 550px;
    padding-top: 14px;
    padding-bottom: 34px;
    overflow: hidden;
    background: #fff;
    border-left: solid 1px #edeef0;
    border-right: solid 1px #edeef0;
  }

  &_content {
    &__separator {
      color: #828282;
      text-align: center;
      font-size: 12.5px;
      background: #fff;
      font-weight: 400;
      margin: 0;
      border: none;
      padding: 0;

      &-content {
        display: inline-block;
        line-height: 18px;
        border-radius: 20px;
        padding: 3px 15px;
        top: 7px;
        margin: 10px 0;
        border: 1px solid transparent;
        transition: box-shadow 0.2s ease-out, border-color 0.2s ease-out;
      }
    }
    &__user {
      &-name {
        max-width: 240px;
        color: #42648b;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: top;
        line-height: 15px;
      }
    }
    &__message {
      &-data {
        line-height: 16px;
        padding-top: 2px;
      }
      &-time {
        color: rgba(120, 127, 140, 0.6);
        font-size: 12px;
        display: inline-block;
        margin-left: 7px;
        line-height: 15px;
        vertical-align: top;
      }
      &s-wrapper {
        display: flex;
      }
      &-section {
        font-size: 13px;
        padding: 11px 0;
      }
      &-first {

      }
      &-left {
        margin-left: 36px;
        margin-right: 10px;
      }
      &-right {
        width: 387px;
      }
    }
  }
}
